*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
header{
    display: flex;
    justify-content: flex-end;
    background-color: yellow;
    align-items: flex-start;
    height: 70px;
}
a{
    margin-right: 5px;
    background-color: #4A4A4A;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 4px 8px;
    margin-top: 5px;
}
main{
    width: 92%;
    height: calc(100vh - 150px);
    margin: 0 auto;
}
footer{
    background-color: yellow;
    height: 80px;
}
img{
    background-repeat: repeat;
}